<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusChangeServlet</servlet-name>
        <servlet-class>controller.StatusChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatus</servlet-name>
        <servlet-class>controller.changeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchmanager</servlet-name>
        <servlet-class>controller.searchmanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager</servlet-name>
        <servlet-class>controller.Manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createManager</servlet-name>
        <servlet-class>controller.createManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusChangeServlet</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatus</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchmanager</servlet-name>
        <url-pattern>/searchm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createManager</servlet-name>
        <url-pattern>/createM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>
